.search {
	position: relative;

	transform: translate(-2px,6px);

	&>input {
		width: 250px;
		height: 32px;
		padding: 0 23px 0 8px;

		font-size: 14px;

		border: 1px solid $color-gray;

		::-webkit-input-placeholder {
			font-size: 14px;
			color: $color-gray;

			opacity: 1;

			transition: opacity 0.3s;
		}
		::-moz-placeholder {
			font-size: 14px;
			color: $color-gray;

			opacity: 1;

			transition: opacity 0.3s;
		}
		:-ms-input-placeholder {
			font-size: 14px;
			color: $color-gray;

			opacity: 1;

			transition: opacity 0.3s;
		}

		&:focus {
			border: 1px solid darken($color-gray,15%);
			outline: none;
		}
	}

	button {
		position: absolute;
		top: 5px;
		right: -1px;

		border: none;
		background: none;
	}

	input:focus::-webkit-input-placeholder {
		opacity: 0;

		transition: opacity 0.3s;
	}
	input:focus::-moz-placeholder {
		opacity: 0;

		transition: opacity 0.3s;
	}
	input:focus:-ms-input-placeholder {
		opacity: 0;

		transition: opacity 0.3s;
	}
}