.tabs {
	border-top: 1px solid $color-gray;

	&__wrapper {
		position: relative;

		max-width: 1130px;
		padding: 0 15px;
		margin: 0 auto;

		text-align: center;
	}

	&__titles {
		position: absolute;
		z-index: 10;
		top: -61px;
		left: 50%;

		display: inline-block;

		text-align: center;

		transform: translate(-48%);
		.active {
			border: 1px solid $color-gray;
			border-top: 2px solid $color-red;
			border-bottom: 1px solid transparent;
			background: #fff; 
		}
	}

	&__title {
		display: inline-block;
		padding: 9px 12px 29px;

		font-size: 16px;

		cursor: pointer;
	}

	&__container {
		padding-top: 30px;
		.active {
			display: block;
		}
	}

	&__content {
		display: none;
	}
}

@media (max-width: 900px) {
	.tabs {
		&__titles {
			top: -61px;
			left: 15px;

			display: inline-block;

			text-align: center;

			transform: translate(0);
		}
	}
}

@media (max-width: 640px) {
	.tabs {
		&__titles {
			top: -50px;
			left: 15px;

			display: inline-block;

			text-align: center;

			transform: translate(0);
		}

		&__title {
			padding: 9px 5px 20px;

			font-size: 14px;
		}
	}
}