.tabs
  .tabs__wrapper
    .tabs__titles
      .tabs__title.active Возможности
      .tabs__title Информация
      .tabs__title Привелегии
    .tabs__container
      .tabs__content.active
        include ../slider/slider
      .tabs__content 2
      .tabs__content 3