.local {
	a {
		position: relative;

		display: inline-block;
		margin-right: 30px;

		font-weight: 700;
		color: $color-link;
		text-decoration: none;

		transition: opacity 0.3s;

		&:before {
			content: '';

			position: absolute;
			right: 0;
			bottom: -1px;
			left: 0;

			height: 1px;

			background-color: $color-link;
			opacity: 0;
		}

		&:hover:before {
			opacity: 1;
		}
		
		&:last-child {
			margin-right: 0;
		}

		&:active {
			color: $color-link;
		}

	}

	span {
		font-weight: 700;
		color: #000;
	}
}

@media (max-width: 640px) {
	.local{
		margin-bottom: 10px;

		a {
			margin-right: 25px;
		}
	}
}