.popup
  .popup__content.popup__login(data-background="rgba(0,0,0,0.6)")
    .popup__close
    form.popup__form(method="",action="")
      label Ваша почта
        input(type="email",required)
      label Ваш пароль
        input(type="password",required)
      button(type="submit") Войти    
