.popup {

	&__login {
	  flex-basis: 350px;
	  padding: 20px 15px;
	  margin: auto;
	  background-color: #fff;
	  text-align: right;
	}

	label {
		display: block;
		margin-bottom: 10px;
		font-size: 16px;
		cursor: pointer;
		text-align: left;
	}

	input {
		display: block;
		padding-left: 5px;
		margin-top: 5px;
		width: 100%;
		border: 1px solid $color-gray;
		transition: border 0.3s;

		&:focus {
			outline: none;
			border-color: darken($color-gray,20%);
		}
	}

	button {
		margin-top: 10px;
		padding: 5px 20px;
		background-color: $color-red;
		border: none;
		font-size: 16px;
		color: #fff;
		transition: background 0.3s;

		&:hover {
			background-color: green;
		}
	}
}