.header {

	&__top {
		padding: 11px 0 8px;

		background-color: $color-bg-header-top;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		max-width: 1000px;
		padding: 0 18px;
		margin: 0 auto;
	}

	&__online-board {
		display: inline-block;
		margin-right: 45px;

		a {
			display: inline-block;

			font-weight: 700;
			color: $color-link;
			text-decoration: none;

			transform: translateY(-6px);

			&:before {
				content: '';

				position: absolute;
				right: 0;
				bottom: -1px;
				left: 0;

				height: 1px;

				background-color: $color-link;
				opacity: 0;
			}

			&:hover:before {
				opacity: 1;
			}
		}
	}

	&__clock {
		margin-right: 6px;
	}

	&__login {
		display: inline-block;

		font-weight: 700;
		color: $color-link;
		text-decoration: none;

		transform: translateY(-6px);

		&:before {
			content: '';

			position: absolute;
			right: 0;
			bottom: -1px;
			left: 0;

			height: 1px;

			background-color: $color-link;
			opacity: 0;
		}

		&:hover:before {
			opacity: 1;
		}
	}

	&__bot {
		padding: 20px 0px 13px 0px;
	}

}