.slider
  .slider__item
    p Открывайте мир
    h2 вместе с Трансаэро
    p Почувствуйте комфорт современного Boeing 747-300
  .slider__item
    p Открывайте мир
    h2 вместе с Трансаэро
    p Почувствуйте комфорт современного Boeing 747-300
  .slider__item
    p Открывайте мир
    h2 вместе с Трансаэро
    p Почувствуйте комфорт современного Boeing 747-300